*{
    margin:0%;
    padding: 0%;
}
/* box Layout */
.boxGlobal{
    position: absolute;
    width: 100%;
    background: orange;
    .boxMedium{
        position: relative;
        width: 95%;
        margin:10px auto;
        height: 200px;
        background: rgb(52, 92, 202);
        border: 2px solid silver; 
        
    }
}
/* box custom */
#boxCustomOne{
    /* position: relative; */
    width: 100%;
    height: 100%;
    margin:  auto;

    .bCO-inner{
        float: left;
        background: rosybrown;
        width: 50%;
        height: 100%;
        margin:  auto;
        display: flex;
        justify-content: center;
        align-items: center;
   

    .bckg1{
        position: absolute;
        width: 45%;
        height: 60%;
       /*  margin: 5px auto; */
        background: white;
        animation: TransitionSlide 9s linear 8s infinite;
        &::before{
            content: 'Box 1';
            text-align: left;
            background: chartreuse;
            display: block;
            color: darkblue;
            font-size: 2em;
            height: 100%;
            /* padding-top: 12.5%; */
        }
        }

        .bckg2{
            position: absolute;
            width: 45%;
            height: 60%;
           /*  margin: 5px auto; */
            background: white;
            animation: TransitionSlide 9s linear 5s infinite;
            &::before{
                content: 'Box 2';
                text-align: center;
                background: rgb(255, 102, 0);
                display: block;
                color: rgb(24, 184, 212);
                font-size: 2em;
                height: 100%;
                /* padding-top: 12.5%; */
                
            }
        }

          .bckg3{
            position: absolute;
            width: 45%;
            height: 60%;
           /*  margin: 5px auto; */
            background: white;
            animation: TransitionSlide 9s linear 3s infinite;
            &::before{
                content: 'Box 3';
                text-align: right;
                background: rgb(255, 0, 191);
                display: block;
                color: rgb(209, 212, 24);
                font-size: 2em;
                height: 100%;
               /*  padding-top: 12.5%; */
                
            }
        }
  }
}

@keyframes TransitionSlide{

    0%{
        opacity: 0;

    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}