*{
    margin:0%;
    padding: 0%;
}
/* box Layout */
.boxGlobal{
    position: absolute;
    width: 100%;
    background: rgb(92, 91, 91);
    .boxMedium{
        position: relative;
        width: 95%;
        margin:10px auto;
        height: 200px;
        background: rgb(184, 185, 189);
        border: 2px solid silver; 
        
    }
}
/* box custom */
#boxCustomOne{
    /* position: relative; */
    width: 100%;
    height: 100%;
    margin:  auto;

    .bCO-inner{
        float: left;
        background: rgb(238, 238, 238);
        width: 49.9%;
        height: 100%;
        margin:  auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid silver;
   

    .bckg1{
        position: absolute;
        width: 45%;
        height: 60%;
       /*  margin: 5px auto; */
        background: white;
        animation: TransitionOpacity 9s linear 8s infinite;
        &::before{
            content: 'Box 1';
            text-align: left;
            background: #88498F;
            display: block;
            color: #2e0233;
            font-size: 2em;
            height: 100%;
            /* padding-top: 12.5%; */
        }
        }

        .bckg2{
            position: absolute;
            width: 45%;
            height: 60%;
           /*  margin: 5px auto; */
            background: white;
            animation: TransitionOpacity 9s linear 5s infinite;
            &::before{
                content: 'Box 2';
                text-align: center;
                background: #70D7D6;
                display: block;
                color: #034746;
                font-size: 2em;
                height: 100%;
                /* padding-top: 12.5%; */
                
            }
        }

          .bckg3{
            position: absolute;
            width: 45%;
            height: 60%;
           /*  margin: 5px auto; */
            background: white;
            animation: TransitionOpacity 9s linear 3s infinite;
            &::before{
                content: 'Box 3';
                text-align: right;
                background: #D7D670;
                display: block;
                color: #5f5e04;
                font-size: 2em;
                height: 100%;
               /*  padding-top: 12.5%; */
                
            }
        }
    
        .bckg4{
        position: absolute;
        width: 45%;
        height: 60%;
        background: white;
        
        &::before{
            content: 'Box 4';
            text-align: left;
            background: #88498F;
            display: block;
            color: #2e0233;
            font-size: 2em;
            height: 100%;
            animation: TransitionBg 3s linear 2s infinite;
            z-index: 5;
            
        }
        }

        .bckg5{
            position: absolute;
            width: 45%;
            height: 60%;
            background: white;
            &::before{
                content: 'Box 5';
                text-align: left;
                background: #70D7D6;
                display: block;
                color: #034746;
                font-size: 2em;
                height: 100%;
               animation: TransitionBg2 3s linear 2s  infinite;
                
            }
        }

          .bckg6{
            position: absolute;
            width: 45%;
            height: 60%;
            background: white;
            
            &::before{
                content: 'Box 6';
                text-align: right;
                background: #D7D670;
                display: block;
                color: #5f5e04;
                font-size: 2em;
                height: 100%;
              animation: TransitionBg3 3s ease 2s infinite;
                
            }
        }
  }
}

@keyframes TransitionOpacity{

    0%{
        opacity: 0;

    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}
@keyframes TransitionBg{


 from {
        /* color: white  ;
        opacity: 1; */
       /* left: -20px; */
       width: 0%;
       height: 0%;
    }

    to {
        /* color: black;  
        opacity:0; */
        /* left: 20px; */
        width: 100%;
         height: 100%;
       
    }

}
@keyframes TransitionBg2{


 from {
        /* color: white  ;
        opacity: 1; */
       /* left: -20px; */
       width: 0%;
      
    }

    to {
        /* color: black;  
        opacity:0; */
        /* left: 20px; */
        width: 100%;
        
       
    }

}
@keyframes TransitionBg3{


 from {
        /* color: white  ;
        opacity: 1; */
       /* left: -20px; */
       width: 100%;
      
    }

    to {
        /* color: black;  
        opacity:0; */
        /* left: 20px; */
        width: 0%;
        
       
    }

}