*{
margin: 0;
padding: 0;
font-family: sans-serif;
text-decoration: none;
list-style:none;


}

.bgGray{
  background: #E6E6E6;
  color: white;
}
// Style Encabezado
// Style Encabezado
#boxHeader{
  position: relative;
  width: 100%;
  margin: 0;
  padding-top: 0.5em;
  height: 100px;
  background: url(/img/bgHeader.svg) repeat center;
 
  div {
  &#bgHeader{
    position: relative;
    margin: auto;
    width: 100%;
    height: 90%;
    background: #20476E;

    & #LogoSerraux{
        width: 20%;
        float: left;
        height: 60px;
        text-align: left;
        margin: 13px 5px;

        h1{
          font-family: "Century Gothic";
          font-weight: normal;
          font-size: 50;
          margin:  0;
          color: white;
        }
      }
    & #nameHeader{
        width: 60%;
        float: left;
        height: 60px;
        background:inherit;
        font-family: "Century Gothic";
        font-size:200;
        text-align: center;
        margin: 13px 1px;
        h1 {
          font-family: "Century Gothic";
          font-weight: normal;
          font-size: 100;
          color: white;
          padding-top: 10px;
        }
      }
    & #iconImg{
        // display: block;
        width: 18%;
        float: left;
        height: 60px;
        background:inherit;
        margin: 13px 1px;

        .boxImgHeader{
          width: 32%;
          height: 70%;
          margin-top: 7px;
        }

      }
    }
  }



}

// Style Bannner página principal
.boxBannerTools{
  position: relative;
  width: 100%;
  height: 40px;
  margin: auto;
  margin-top: 5px;
  background: #CCCCCC;
  nav{
  &#listTools{
      position: relative;
      margin: auto;
      width: 100%;
      height: 100%;

      .level1{
        float: left;
        width: 33.25%;
        border-right: 1px solid white;
        text-align: center;
        line-height: 40px;
        font-size: 1.2em;
        color: #20476E;
        a{
          display: block;

        &:hover{
          color: white;
          background: #20476E;
          }
        }

      }
    }
  }

}
// Contenedor global para laconstrucción de los ejemplos
.global-container{
  // position: relative;
  width: 90%;
  // height: 600px;
  margin: 2px auto;
  background: #97B8D9;
  text-align: center;
  padding: 10px;
  // overflow:auto;
  margin-bottom: 10px;
  div {
  &.container{
      background: white;
      width: 99%;
      height:350px;
      margin: auto;
    }
   h2.subtitle{
      text-align: left;
      border-bottom: 1px solid #274D73;
      font-style: italic;
      color: #274D73;
      margin-bottom: 1px;
      // margin-top: 10px;
      padding-top: 10px;
    }
    p.description{
      text-align: left;
      font-style: italic;
      color: rgba(5,8,28,0.8);
      span{
        font-weight: bold;
        color: rgba(5,8,28,0.8);

      }
    }
    &.TrainingArea{
      position: relative;
      width: 100%;
      height: 300px;
      margin-top: 5px;
      border-top: 1px solid #42420C;
      background: #FAFAC3;
      padding-top: 10px;
      // overflow: hidden;
    }
  }


}

footer{
  background: #20476E;
  width: 100%;
  height: 150px;
}

// ..Animaciones de fondos con imágenes
.animations{
  .bg1{
    position: absolute;
    width: 70%;
    height: 60%;
    margin: 20px 160px;
      border-radius: 1em;
    background: url(/img/1.BackgroundIMG/bg1.jpeg) center;
    animation: myAnimation 30s linear 24s infinite;
    -webkit-animation: myAnimation 30s  linear 24s infinite;
    -moz-animation: myAnimation 30s  linear 24s infinite;
  }
  .bg2{
    position: absolute;
    width: 70%;
    height: 60%;
    margin: 20px 160px;
      border-radius: 1em;
    background: url(/img/1.BackgroundIMG/bg2.jpg) center;
    animation: myAnimation 30s linear 18s infinite;
    -webkit-animation: myAnimation 30s  linear 18s infinite;
    -moz-animation: myAnimation 30s  linear 18s infinite;
  }
  .bg3{
    position: absolute;
    width: 70%;
    height: 60%;
    margin: 20px 160px;
      border-radius: 1em;
    background: url(/img/1.BackgroundIMG/bg3.jpg) center;
    animation: myAnimation 30s linear 12s infinite;
    -webkit-animation: myAnimation 30s  linear 12s infinite;
    -moz-animation: myAnimation 30s  linear 12s infinite;
  }
  .bg4{
    position: absolute;
    width: 70%;
    height: 60%;
    margin: 20px 160px;
      border-radius: 1em;
    background: url(/img/1.BackgroundIMG/bg4.jpg) center;
    animation: myAnimation 30s linear 6s infinite;
    -webkit-animation: myAnimation 30s  linear 6s infinite;
    -moz-animation: myAnimation 30s  linear 6s infinite;
  }
  .bg5{
    position: absolute;
    width: 70%;
    height: 60%;
    margin: 20px 160px;
    border-radius: 1em;
    background: url(/img/1.BackgroundIMG/bg5.jpg) center;
    animation: myAnimation 30s linear 2s infinite;
    -webkit-animation: myAnimation 30s  linear 2s infinite;
    -moz-animation: myAnimation 30s linear 2s infinite;
  }
  @keyframes myAnimation {
    0%{
      opacity: 1;
     }
     20%{
       opacity: 1;
      }
      30%{
        opacity: 0;
       }
       60%{
         opacity: 0;
        }
        90%{
          opacity: 0;
         }
     100%{
       opacity: 1;
      }
  }
}


// Menu desplegables

.containner{
    position: relative;
    width: 70%;
    height: 150px;
    margin: 20px auto;
    background: rgb(201, 134, 134);

}

#topmenu{
        position: absolute;
        background: rgb(142, 238, 123);
        width:100%;
	    height:50px;
        bottom:0;
        .nivel1{
            float: left;
            width: 33.2859252%;
            background: rgb(110, 77, 230);
            text-align: center;
            line-height: 50px;

        }
        .nivel1 a{
            color: seashell;
        }

        .nivel1:hover{
            background: teal;
            color: gray;
        }
        .nivel2:hover{
        	background:rgb(243, 166, 77);
        	transition:background .5s ease-out;
        	}

        .nivel2{
            position:relative;
        	left:-4px;
        	width:100%;
        	text-align:center;
        	line-height:42px;
        	border-top:4px solid #fff;
        	border-left:4px solid #fff;
        	border-right:4px solid #fff;
        	background:silver;
        	color:black;
        }
}




#topmenu .nivel1 ul{
    display: none;
}

#topmenu .nivel1:hover ul{
    display: block;
}
