*{
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif
}

html, body{
    width: 100%;
    // height: 100%;
    margin:0px;
    padding:0px;
    background: #c93f08;
    
}
.container-global{
    width: 100%;
    height: 100%;
    background: #48e2c1;
    

    & :nth-child(1){
        
        width: 100%;
        height: 10%;
        background: #282b2a;
        a {
            background: silver;
           &:hover{
                background: green;
                color: white;
            }
        }
    }
    & :nth-child(2){
        
        width: 100%;
        height: 90%;
        background: white;
    & .box-left{
        width: 35%;
        height: 100%;
        background: #7f4985;
        float: left;
        overflow-y: auto;
        & > div{
            width: 100%;
            height: 40%;
            margin-bottom: 2px;
            background: lightgreen;
         }
    }
    & .box-right{
        width: 65%;
        height: 100%;
        background: #dacd25;
        float: right;
        overflow-y: auto;
        & > div{
            width: 100%;
            height: 25%;
            border-bottom: 5px solid black;
            background: rgb(236, 238, 144);
         }
        } 
    }
}


/* content  boxes structures */
.container-global-test{
    width: 100%;
    margin:0px;
    padding:0px;
    background: #DD7F75;
    
    .box-header{
        width: 100%;
        height: 70px;
        padding-top: 5px;
        background: #75D3DD;
        text-align: center;
        border-bottom: 1.8px solid #DD7F75;
        border-top: 1.8px solid #DD7F75;
        border-top-left-radius: 80px;
        border-bottom-right-radius: 80px;
        :nth-child(1){
           border-bottom: 1px solid #59acaa;
            display: inline-block;
            margin-bottom: 2px;
            padding: 3px;
        }
    }
    .box-body{
        position: absolute;
        width: 100%;
        background: #acd5d8;
        text-align: center;overflow: auto;
        .box-item{
            position: relative;
            width: 90%;
            height: 120px;
            margin: 15px auto;
            border: 1px solid rgb(136, 143, 143);
            border-radius: 55px;
            box-shadow: 0px 5px 5px 2px #818685;
            & :nth-child(1){
                width: 50%;
                height: 100%;
                float: left;
                background: inherit;
                border-top-left-radius: 80px;
                border-bottom-left-radius: 80px;
                
            }
            & :nth-child(2){
                width: 50%;
                height: 100%;
                float: right;
                background: inherit;
                border-top-right-radius: 80px;
                border-bottom-right-radius: 80px;
            }
           
        }
    }
    .box-footer{
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        :nth-child(1){
            width: 100%;
            height: 140px;
            background: #DD7F75;
            
        }
    }

}


/* Excercises */
/* Example1 */
/* ejercicio de efectos de transición */

.container-global-test .box-body .box-item :nth-child(1) .exercise1 {
  
    width: 100%;
    height: 100%;
    :nth-child(1){
        position: absolute;
        width: 50%;
        height:100%;
        
        animation: TransitionOpacity 9s linear 8s infinite;
        &::before{
            content: 'Box 1';
            text-align: center;
            background: #b998bd;
            display: block;
            color: white;
            font-size: 1em;
            height: 100%;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
           
        }
    }
    :nth-child(2){
        position: absolute;
        width: 50%;
        height:100%;
       
        animation: TransitionOpacity 9s linear 2s infinite;
        &::before{
            content: 'Box 2';
            text-align: right;
            background: #498f66;
            display: block;
            color: #b998bd;
            font-size: 1em;
            height: 100%;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
           
        }
    }
    :nth-child(3){
        position: absolute;
        width: 50%;
        height:100%;
       
        animation: TransitionOpacity 9s linear 5s infinite;
        &::before{
            content: 'Box 3';
            text-align: center;
            background: #e7e970;
            display: block;
            color: #1d1a1d;
            font-size: 1em;
            height: 100%;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
           
        }
    }
  }

/* Example 2 */
.container-global-test .box-body .box-item :nth-child(2) .exercise2 {
  
    width: 50%;
    height: 100%;
    :nth-child(1){
        position: absolute;
        width: 50%;
        height:100%;
        
        animation: TransitionBg 5s linear 1.5s infinite;
        &::before{
            content: 'Box 4';
            text-align: center;
            background: #b998bd;
            display: block;
            color: white;
            font-size: 1em;
            height: 100%;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
           
        }
    }
    
    
  }

/* Example 3 */

.container-global-test .box-body .box-item :nth-child(1) .exercise3 {
  
    width: 100%;
    height: 100%;
    :nth-child(1){
        position: absolute;
        width: 50%;
        height:100%;
        animation: TransitionBg2 4s linear 2s infinite;
        &::before{
            content: 'Box 5';
            text-align: right;
            background: #498f66;
            display: block;
            color: white;
            font-size: 1em;
            height: 100%;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
           
        }
    }
    
  }
    

  /* Example 4 */
.container-global-test .box-body .box-item :nth-child(2) .exercise4 {
  
    width: 50%;
    height: 100%;
    :nth-child(1){
        position: absolute;
        width: 50%;
        height:100%;
        
        animation: TransitionBg3 5s linear 1.5s infinite;
        &::before{
            content: 'Box 4';
            text-align: center;
            background: #e7e970;
            display: block;
            color: white;
            font-size: 1em;
            height: 100%;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
           
        }
    }
    
    
  }
     

          .example6{
            position: absolute;
            width: 45%;
            height: 60%;
            background: white;
            
            &::before{
                content: 'Box 6';
                text-align: right;
                background: #D7D670;
                display: block;
                color: #5f5e04;
                font-size: 2em;
                height: 100%;
              animation: TransitionBg3 3s ease 2s infinite;
                
            }
        }

/* Transiciones y animaciones */
@keyframes TransitionOpacity{

    0%{
        opacity: 0;

    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}
@keyframes TransitionBg{


 from {
        /* color: white  ;
        opacity: 1; */
       /* left: -20px; */
       width: 0%;
       height: 0%;
    }

    to {
        /* color: black;  
        opacity:0; */
        /* left: 20px; */
        width: 50%;
         height: 100%;
       
    }

}
@keyframes TransitionBg2{


 from {
        /* color: white  ;
        opacity: 1; */
       /* left: -20px; */
       width: 0%;
      
    }

    to {
        /* color: black;  
        opacity:0; */
        /* left: 20px; */
        width: 50%;
        
       
    }

}
@keyframes TransitionBg3{


 from {
        /* color: white  ;
        opacity: 1; */
       /* left: -20px; */
       width: 50%;
      
    }

    to {
        /* color: black;  
        opacity:0; */
        /* left: 20px; */
        width: 0%;
        
        
       
    }

}

/* Ejercicio de construcción de gridlayout responsive */


