* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

.bgGray {
  background: #E6E6E6;
  color: white;
}

#boxHeader {
  position: relative;
  width: 100%;
  margin: 0;
  padding-top: 0.5em;
  height: 100px;
  background: url(/img/bgHeader.svg) repeat center;
}

#boxHeader div#bgHeader {
  position: relative;
  margin: auto;
  width: 100%;
  height: 90%;
  background: #20476E;
}

#boxHeader div#bgHeader #LogoSerraux {
  width: 20%;
  float: left;
  height: 60px;
  text-align: left;
  margin: 13px 5px;
}

#boxHeader div#bgHeader #LogoSerraux h1 {
  font-family: "Century Gothic";
  font-weight: normal;
  font-size: 50;
  margin: 0;
  color: white;
}

#boxHeader div#bgHeader #nameHeader {
  width: 60%;
  float: left;
  height: 60px;
  background: inherit;
  font-family: "Century Gothic";
  font-size: 200;
  text-align: center;
  margin: 13px 1px;
}

#boxHeader div#bgHeader #nameHeader h1 {
  font-family: "Century Gothic";
  font-weight: normal;
  font-size: 100;
  color: white;
  padding-top: 10px;
}

#boxHeader div#bgHeader #iconImg {
  width: 18%;
  float: left;
  height: 60px;
  background: inherit;
  margin: 13px 1px;
}

#boxHeader div#bgHeader #iconImg .boxImgHeader {
  width: 32%;
  height: 70%;
  margin-top: 7px;
}

.boxBannerTools {
  position: relative;
  width: 100%;
  height: 40px;
  margin: auto;
  margin-top: 5px;
  background: #CCCCCC;
}

.boxBannerTools nav#listTools {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
}

.boxBannerTools nav#listTools .level1 {
  float: left;
  width: 33.25%;
  border-right: 1px solid white;
  text-align: center;
  line-height: 40px;
  font-size: 1.2em;
  color: #20476E;
}

.boxBannerTools nav#listTools .level1 a {
  display: block;
}

.boxBannerTools nav#listTools .level1 a:hover {
  color: white;
  background: #20476E;
}

.global-container {
  position: relative;
  width: 100%;
  margin: 2px auto;
  background: #97B8D9;
  text-align: center;
  padding: 5px;
  /* margin-bottom: 10px; */
}

.global-container div.container {
  position: relative;
  background: #23a038;
  width: 100%;
  height: 350px;
  margin: auto;
  display: block;
}

.global-container div h2.subtitle {
  text-align: left;
  border-bottom: 1px solid #274D73;
  font-style: italic;
  color: #274D73;
  margin-bottom: 1px;
  padding-top: 10px;
  background: white;
}

.global-container div p.description {
  text-align: left;
  font-style: italic;
  color: rgba(5, 8, 28, 0.8);
}

.global-container div p.description span {
  font-weight: bold;
  color: rgba(5, 8, 28, 0.8);
}

.global-container div.TrainingArea {
  position: relative;
  width: 100%;
  height: 250px;
  margin-top: 5px;
  border-top: 1px solid #42420C;
  background: #FAFAC3;
  padding-top: 10px;
}

#footer {
  position: relative;
  background: #20476E;
  width: 100%;
  height: 150px;
  margin-top: 5px;
}

.animations .bg1 {
  position: absolute;
  width: 70%;
  height: 60%;
  margin: 20px 160px;
  border-radius: 1em;
  background: url(../img/1.BackgroundIMG/bg1.jpeg) center;
  animation: myAnimation 30s linear 24s infinite;
  -webkit-animation: myAnimation 30s  linear 24s infinite;
  -moz-animation: myAnimation 30s  linear 24s infinite;
}

.animations .bg2 {
  position: absolute;
  width: 70%;
  height: 60%;
  margin: 20px 160px;
  border-radius: 1em;
  background: url(../img/1.BackgroundIMG/bg2.jpg) center;
  animation: myAnimation 30s linear 18s infinite;
  -webkit-animation: myAnimation 30s  linear 18s infinite;
  -moz-animation: myAnimation 30s  linear 18s infinite;
}

.animations .bg3 {
  position: absolute;
  width: 70%;
  height: 60%;
  margin: 20px 160px;
  border-radius: 1em;
  background: url(../img/1.BackgroundIMG/bg3.jpg) center;
  animation: myAnimation 30s linear 12s infinite;
  -webkit-animation: myAnimation 30s  linear 12s infinite;
  -moz-animation: myAnimation 30s  linear 12s infinite;
}

.animations .bg4 {
  position: absolute;
  width: 70%;
  height: 60%;
  margin: 20px 160px;
  border-radius: 1em;
  background: url(../img/1.BackgroundIMG/bg4.jpg) center;
  animation: myAnimation 30s linear 6s infinite;
  -webkit-animation: myAnimation 30s  linear 6s infinite;
  -moz-animation: myAnimation 30s  linear 6s infinite;
}

.animations .bg5 {
  position: absolute;
  width: 70%;
  height: 60%;
  margin: 20px 160px;
  border-radius: 1em;
  background: url(../img/1.BackgroundIMG/bg5.jpg) center;
  animation: myAnimation 30s linear 2s infinite;
  -webkit-animation: myAnimation 30s  linear 2s infinite;
  -moz-animation: myAnimation 30s linear 2s infinite;
}

@keyframes myAnimation {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.containner {
  position: relative;
  width: 70%;
  height: 150px;
  margin: 20px auto;
  background: #c98686;
}

#topmenu {
  position: absolute;
  background: #8eee7b;
  width: 100%;
  height: 50px;
  bottom: 0;
}

#topmenu .nivel1 {
  float: left;
  width: 33.2859252%;
  background: #6e4de6;
  text-align: center;
  line-height: 50px;
  z-index: 99;
}

#topmenu .nivel1 a {
  color: seashell;
}

#topmenu .nivel1:hover {
  background: teal;
  color: gray;
}

#topmenu .nivel2:hover {
  background: #f3a64d;
  transition: background .5s ease-out;
}

#topmenu .nivel2 {
  position: relative;
  left: -4px;
  width: 100%;
  text-align: center;
  line-height: 42px;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  border-right: 4px solid #fff;
  background: silver;
  color: black;
}

#topmenu .nivel1 ul {
  display: none;
}

#topmenu .nivel1:hover ul {
  display: block;
}
/*# sourceMappingURL=styleToolBox.css.map */