@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
}

.bannerHeader {
  position: absolute;
  width: 100%;
  height: 45px;
  background: #9be2d3;
  color: #34504d;
}

.bannerHeader div:nth-child(1) {
  float: left;
  width: 10%;
  height: 90%;
  padding: 5px 15px;
  font-style: italic;
  text-align: center;
  border-right: 1px solid #538582;
}

.bannerHeader div:nth-child(2) {
  float: left;
  width: 87%;
  height: 90%;
  text-align: center;
}

.bannerHeader div:nth-child(2) h1 {
  font-family: 'Century Gothic','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
}

/* box Layout */
.boxGlobal {
  position: absolute;
  width: 100%;
  background: #d5dde7;
  margin: 45px auto;
}

.boxGlobal .boxMedium {
  position: relative;
  width: 95%;
  margin: 10px auto;
  height: 200px;
  background: #b8b9bd;
  border: 2px solid silver;
}

/* box custom */
#boxCustomOne {
  /* position: relative; */
  width: 100%;
  height: 100%;
  margin: auto;
}

#boxCustomOne .bCO-inner {
  float: left;
  background: #eeeeee;
  width: 49.9%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid silver;
  /* ejerciio de efectos de transición */
}

#boxCustomOne .bCO-inner .bckg1 {
  position: absolute;
  width: 45%;
  height: 60%;
  /*  margin: 5px auto; */
  background: white;
  animation: TransitionOpacity 9s linear 8s infinite;
}

#boxCustomOne .bCO-inner .bckg1::before {
  content: 'Box 1';
  text-align: left;
  background: #88498F;
  display: block;
  color: #2e0233;
  font-size: 2em;
  height: 100%;
  /* padding-top: 12.5%; */
}

#boxCustomOne .bCO-inner .bckg2 {
  position: absolute;
  width: 45%;
  height: 60%;
  /*  margin: 5px auto; */
  background: white;
  animation: TransitionOpacity 9s linear 5s infinite;
}

#boxCustomOne .bCO-inner .bckg2::before {
  content: 'Box 2';
  text-align: center;
  background: #70D7D6;
  display: block;
  color: #034746;
  font-size: 2em;
  height: 100%;
  /* padding-top: 12.5%; */
}

#boxCustomOne .bCO-inner .bckg3 {
  position: absolute;
  width: 45%;
  height: 60%;
  /*  margin: 5px auto; */
  background: white;
  animation: TransitionOpacity 9s linear 3s infinite;
}

#boxCustomOne .bCO-inner .bckg3::before {
  content: 'Box 3';
  text-align: right;
  background: #D7D670;
  display: block;
  color: #5f5e04;
  font-size: 2em;
  height: 100%;
  /*  padding-top: 12.5%; */
}

#boxCustomOne .bCO-inner .bckg4 {
  position: absolute;
  width: 45%;
  height: 60%;
  background: white;
}

#boxCustomOne .bCO-inner .bckg4::before {
  content: 'Box 4';
  text-align: left;
  background: #88498F;
  display: block;
  color: #2e0233;
  font-size: 2em;
  height: 100%;
  animation: TransitionBg 3s linear 2s infinite;
  z-index: 5;
}

#boxCustomOne .bCO-inner .bckg5 {
  position: absolute;
  width: 45%;
  height: 60%;
  background: white;
}

#boxCustomOne .bCO-inner .bckg5::before {
  content: 'Box 5';
  text-align: left;
  background: #70D7D6;
  display: block;
  color: #034746;
  font-size: 2em;
  height: 100%;
  animation: TransitionBg2 3s linear 2s  infinite;
}

#boxCustomOne .bCO-inner .bckg6 {
  position: absolute;
  width: 45%;
  height: 60%;
  background: white;
}

#boxCustomOne .bCO-inner .bckg6::before {
  content: 'Box 6';
  text-align: right;
  background: #D7D670;
  display: block;
  color: #5f5e04;
  font-size: 2em;
  height: 100%;
  animation: TransitionBg3 3s ease 2s infinite;
}

@keyframes TransitionOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes TransitionBg {
  from {
    /* color: white  ;
        opacity: 1; */
    /* left: -20px; */
    width: 0%;
    height: 0%;
  }
  to {
    /* color: black;  
        opacity:0; */
    /* left: 20px; */
    width: 100%;
    height: 100%;
  }
}

@keyframes TransitionBg2 {
  from {
    /* color: white  ;
        opacity: 1; */
    /* left: -20px; */
    width: 0%;
  }
  to {
    /* color: black;  
        opacity:0; */
    /* left: 20px; */
    width: 100%;
  }
}

@keyframes TransitionBg3 {
  from {
    /* color: white  ;
        opacity: 1; */
    /* left: -20px; */
    width: 100%;
  }
  to {
    /* color: black;  
        opacity:0; */
    /* left: 20px; */
    width: 0%;
  }
}

/* Ejercicio de construcción de gridlayout responsive */
.grid {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid > div {
  background: #9df59d;
  height: 50%;
  width: 33%;
  float: left;
  margin-right: 1px solid silver;
}

.grid :nth-child(2) {
  background: #cf9393;
}

.grid :nth-child(2) > p {
  text-align: center;
  font-size: 1;
  padding: 2em;
  color: white;
}

.grid :nth-child(2) > a {
  background: #9df59d;
  display: block;
  text-align: center;
  font-style: oblique;
}
/*# sourceMappingURL=test.css.map */