@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: white;
}

.container-global {
  width: 100%;
  height: 100%;
  background: #48e2c1;
}

.container-global :nth-child(1) {
  width: 100%;
  height: 10%;
  background: #282b2a;
}

.container-global :nth-child(1) a {
  background: silver;
}

.container-global :nth-child(1) a:hover {
  background: green;
  color: white;
}

.container-global :nth-child(2) {
  width: 100%;
  height: 90%;
  background: white;
}

.container-global :nth-child(2) .box-left {
  width: 35%;
  height: 100%;
  background: #7f4985;
  float: left;
  overflow-y: auto;
}

.container-global :nth-child(2) .box-left > div {
  width: 100%;
  height: 40%;
  margin-bottom: 2px;
  background: lightgreen;
}

.container-global :nth-child(2) .box-right {
  width: 65%;
  height: 100%;
  background: #dacd25;
  float: right;
  overflow-y: auto;
}

.container-global :nth-child(2) .box-right > div {
  width: 100%;
  height: 25%;
  border-bottom: 5px solid black;
  background: #ecee90;
}

/* content  boxes structures */
.container-global-test {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: #077D79;
}

.container-global-test .box-header {
  width: 100%;
  height: 60px;
  padding-top: 5px;
  background: #09A7A1;
  text-align: center;
  color: white;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

.container-global-test .box-header :nth-child(1) {
  display: inline-block;
  margin-bottom: 2px;
  padding: 3px;
}

.container-global-test .box-body {
  position: absolute;
  width: 100%;
  background: white;
  text-align: center;
  overflow: auto;
}

.container-global-test .box-body .box-item {
  position: relative;
  width: 90%;
  height: 60px;
  margin: 15px auto;
  border: 1px solid #888f8f;
  border-radius: 55px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.container-global-test .box-body .box-item :nth-child(1) {
  width: 50%;
  height: 100%;
  float: left;
  background: inherit;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}

.container-global-test .box-body .box-item :nth-child(2) {
  width: 50%;
  height: 100%;
  float: right;
  background: inherit;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
}

.container-global-test .box-body .box-footer {
  /*  position: relative; */
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  color: white;
}

.container-global-test .box-body .box-footer :nth-child(1) {
  position: relative;
  width: 100%;
  height: 40px;
  font-family: "Features";
  font-weight: normal;
  background: #09A7A1;
}

/* Excercises */
/* Example1 */
/* ejercicio de efectos de transición */
.container-global-test .box-body .box-item #exercise1 {
  width: 100%;
  height: 100%;
}

.container-global-test .box-body .box-item #exercise1 :nth-child(1) {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: TransitionOpacity 9s linear 8s infinite;
          animation: TransitionOpacity 9s linear 8s infinite;
}

.container-global-test .box-body .box-item #exercise1 :nth-child(1)::before {
  content: 'Box 1';
  text-align: center;
  background: #28B2AD;
  display: block;
  color: white;
  font-size: 1em;
  height: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}

.container-global-test .box-body .box-item #exercise1 :nth-child(2) {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: TransitionOpacity 9s linear 2s infinite;
          animation: TransitionOpacity 9s linear 2s infinite;
}

.container-global-test .box-body .box-item #exercise1 :nth-child(2)::before {
  content: 'Box 2';
  text-align: center;
  background: #A3DEDC;
  display: block;
  color: #011514;
  font-size: 1em;
  height: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}

.container-global-test .box-body .box-item #exercise1 :nth-child(3) {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: TransitionOpacity 9s linear 5s infinite;
          animation: TransitionOpacity 9s linear 5s infinite;
}

.container-global-test .box-body .box-item #exercise1 :nth-child(3)::before {
  content: 'Box 3';
  text-align: center;
  background: #077D79;
  display: block;
  color: #E0F4F3;
  font-size: 1em;
  height: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}

/* Example 2 */
.container-global-test .box-body .box-item #exercise2 {
  width: 50%;
  height: 100%;
}

.container-global-test .box-body .box-item #exercise2 :nth-child(1) {
  position: absolute;
  width: 50%;
  height: 100%;
  -webkit-animation: TransitionBg 5s ease-in 1.5s infinite;
          animation: TransitionBg 5s ease-in 1.5s infinite;
}

.container-global-test .box-body .box-item #exercise2 :nth-child(1)::before {
  content: 'Box 4';
  text-align: center;
  background: #066865;
  display: block;
  color: white;
  font-size: 1em;
  height: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}

/* Example 3 */
.container-global-test .box-body .box-item #exercise3 {
  width: 100%;
  height: 100%;
}

.container-global-test .box-body .box-item #exercise3 :nth-child(1) {
  position: absolute;
  width: 50%;
  height: 100%;
  -webkit-animation: TransitionBg2 4s linear 2s infinite;
          animation: TransitionBg2 4s linear 2s infinite;
}

.container-global-test .box-body .box-item #exercise3 :nth-child(1)::before {
  content: 'Box 5';
  text-align: center;
  background: #09A7A1;
  display: block;
  color: white;
  font-size: 1em;
  height: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}

/* Example 4 */
.container-global-test .box-body .box-item #exercise4 {
  width: 100%;
  height: 100%;
}

.container-global-test .box-body .box-item #exercise4 :nth-child(1) {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: TransitionBg3 5s linear 1.5s infinite;
          animation: TransitionBg3 5s linear 1.5s infinite;
}

.container-global-test .box-body .box-item #exercise4 :nth-child(1)::before {
  content: 'Box 4';
  text-align: center;
  background: #65C8C4;
  display: block;
  color: #055451;
  font-size: 1em;
  height: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}

/* Example 5 */
.container-global-test .box-body .box-item #exercise5 {
  position: relative;
  width: 100%;
  height: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}

.container-global-test .box-body .box-item #exercise5 a {
  width: 100%;
  color: palegoldenrod;
  background: #077D79;
  line-height: 55px;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}

/* Example 6 */
.container-global-test .box-body .box-item #exercise6 {
  width: 100%;
  height: 100%;
  background: #65C8C4;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  text-align: center;
}

.container-global-test .box-body .box-item #exercise6 a {
  line-height: 55px;
  margin: 0;
}

/* Transiciones y animaciones */
@-webkit-keyframes TransitionOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes TransitionOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes TransitionBg {
  from {
    /* color: white  ;
        opacity: 1; */
    /* left: -20px; */
    width: 100%;
    height: 30%;
  }
  to {
    /* color: black;  
        opacity:0; */
    /* left: 20px; */
    width: 100%;
    height: 100%;
  }
}

@keyframes TransitionBg {
  from {
    /* color: white  ;
        opacity: 1; */
    /* left: -20px; */
    width: 100%;
    height: 30%;
  }
  to {
    /* color: black;  
        opacity:0; */
    /* left: 20px; */
    width: 100%;
    height: 100%;
  }
}

@-webkit-keyframes TransitionBg2 {
  from {
    /* color: white  ;
        opacity: 1; */
    /* left: -20px; */
    width: 10%;
  }
  to {
    /* color: black;  
        opacity:0; */
    /* left: 20px; */
    width: 100%;
  }
}

@keyframes TransitionBg2 {
  from {
    /* color: white  ;
        opacity: 1; */
    /* left: -20px; */
    width: 10%;
  }
  to {
    /* color: black;  
        opacity:0; */
    /* left: 20px; */
    width: 100%;
  }
}

@-webkit-keyframes TransitionBg3 {
  from {
    /* color: white  ;
        opacity: 1; */
    /* left: -20px; */
    width: 100%;
  }
  to {
    /* color: black;  
        opacity:0; */
    /* left: 20px; */
    width: 10%;
  }
}

@keyframes TransitionBg3 {
  from {
    /* color: white  ;
        opacity: 1; */
    /* left: -20px; */
    width: 100%;
  }
  to {
    /* color: black;  
        opacity:0; */
    /* left: 20px; */
    width: 10%;
  }
}
/*# sourceMappingURL=test.css.map */