@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: #39373D;
}

.container-global {
  width: 100%;
  height: 100%;
  background: #48e2c1;
}

.container-global :nth-child(1) {
  width: 100%;
  height: 10%;
  background: #282b2a;
}

.container-global :nth-child(1) a {
  background: silver;
}

.container-global :nth-child(1) a:hover {
  background: green;
  color: white;
}

.container-global :nth-child(2) {
  width: 100%;
  height: 90%;
  background: white;
}

.container-global :nth-child(2) .box-left {
  width: 35%;
  height: 100%;
  background: #7f4985;
  float: left;
  overflow-y: auto;
}

.container-global :nth-child(2) .box-left > div {
  width: 100%;
  height: 40%;
  margin-bottom: 2px;
  background: lightgreen;
}

.container-global :nth-child(2) .box-right {
  width: 65%;
  height: 100%;
  background: #dacd25;
  float: right;
  overflow-y: auto;
}

.container-global :nth-child(2) .box-right > div {
  width: 100%;
  height: 25%;
  border-bottom: 5px solid black;
  background: #ecee90;
}

/* content  boxes structures */
.container-global-test {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: #39373D;
}

.container-global-test .box-header {
  width: 100%;
  height: 60px;
  padding-top: 5px;
  background: #333333;
  text-align: center;
  color: white;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

.container-global-test .box-header :nth-child(1) {
  display: inline-block;
  margin-bottom: 2px;
  padding: 3px;
}

.container-global-test .box-body {
  position: absolute;
  width: 100%;
  background: white;
  text-align: center;
  overflow: auto;
}

.container-global-test .box-body .box-item {
  position: relative;
  width: 90%;
  height: 120px;
  margin: 15px auto;
  border: 1px solid #888f8f;
  border-radius: 55px;
  -webkit-box-shadow: 0px 5px 5px 2px #818685;
          box-shadow: 0px 5px 5px 2px #818685;
}

.container-global-test .box-body .box-item :nth-child(1) {
  width: 50%;
  height: 100%;
  float: left;
  background: inherit;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}

.container-global-test .box-body .box-item :nth-child(2) {
  width: 50%;
  height: 100%;
  float: right;
  background: inherit;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
}

.container-global-test .box-footer {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  color: white;
}

.container-global-test .box-footer :nth-child(1) {
  width: 100%;
  height: 140px;
  background: #3E3D42;
}

/* Excercises */
/* Example1 */
/* ejercicio de efectos de transición */
.container-global-test .box-body .box-item :nth-child(1) .exercise1 {
  width: 100%;
  height: 100%;
}

.container-global-test .box-body .box-item :nth-child(1) .exercise1 :nth-child(1) {
  position: absolute;
  width: 50%;
  height: 100%;
  -webkit-animation: TransitionOpacity 9s linear 8s infinite;
          animation: TransitionOpacity 9s linear 8s infinite;
}

.container-global-test .box-body .box-item :nth-child(1) .exercise1 :nth-child(1)::before {
  content: 'Box 1';
  text-align: center;
  background: #b998bd;
  display: block;
  color: white;
  font-size: 1em;
  height: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.container-global-test .box-body .box-item :nth-child(1) .exercise1 :nth-child(2) {
  position: absolute;
  width: 50%;
  height: 100%;
  -webkit-animation: TransitionOpacity 9s linear 2s infinite;
          animation: TransitionOpacity 9s linear 2s infinite;
}

.container-global-test .box-body .box-item :nth-child(1) .exercise1 :nth-child(2)::before {
  content: 'Box 2';
  text-align: right;
  background: #498f66;
  display: block;
  color: #b998bd;
  font-size: 1em;
  height: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.container-global-test .box-body .box-item :nth-child(1) .exercise1 :nth-child(3) {
  position: absolute;
  width: 50%;
  height: 100%;
  -webkit-animation: TransitionOpacity 9s linear 5s infinite;
          animation: TransitionOpacity 9s linear 5s infinite;
}

.container-global-test .box-body .box-item :nth-child(1) .exercise1 :nth-child(3)::before {
  content: 'Box 3';
  text-align: center;
  background: #e7e970;
  display: block;
  color: #1d1a1d;
  font-size: 1em;
  height: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

/* Example 2 */
.container-global-test .box-body .box-item :nth-child(2) .exercise2 {
  width: 50%;
  height: 100%;
}

.container-global-test .box-body .box-item :nth-child(2) .exercise2 :nth-child(1) {
  position: absolute;
  width: 50%;
  height: 100%;
  -webkit-animation: TransitionBg 5s linear 1.5s infinite;
          animation: TransitionBg 5s linear 1.5s infinite;
}

.container-global-test .box-body .box-item :nth-child(2) .exercise2 :nth-child(1)::before {
  content: 'Box 4';
  text-align: center;
  background: #b998bd;
  display: block;
  color: white;
  font-size: 1em;
  height: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* Example 3 */
.container-global-test .box-body .box-item :nth-child(1) .exercise3 {
  width: 100%;
  height: 100%;
}

.container-global-test .box-body .box-item :nth-child(1) .exercise3 :nth-child(1) {
  position: absolute;
  width: 50%;
  height: 100%;
  -webkit-animation: TransitionBg2 4s linear 2s infinite;
          animation: TransitionBg2 4s linear 2s infinite;
}

.container-global-test .box-body .box-item :nth-child(1) .exercise3 :nth-child(1)::before {
  content: 'Box 5';
  text-align: right;
  background: #498f66;
  display: block;
  color: white;
  font-size: 1em;
  height: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

/* Example 4 */
.container-global-test .box-body .box-item :nth-child(2) .exercise4 {
  width: 50%;
  height: 100%;
}

.container-global-test .box-body .box-item :nth-child(2) .exercise4 :nth-child(1) {
  position: absolute;
  width: 50%;
  height: 100%;
  -webkit-animation: TransitionBg3 5s linear 1.5s infinite;
          animation: TransitionBg3 5s linear 1.5s infinite;
}

.container-global-test .box-body .box-item :nth-child(2) .exercise4 :nth-child(1)::before {
  content: 'Box 4';
  text-align: center;
  background: #e7e970;
  display: block;
  color: white;
  font-size: 1em;
  height: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.example6 {
  position: absolute;
  width: 45%;
  height: 60%;
  background: white;
}

.example6::before {
  content: 'Box 6';
  text-align: right;
  background: #D7D670;
  display: block;
  color: #5f5e04;
  font-size: 2em;
  height: 100%;
  -webkit-animation: TransitionBg3 3s ease 2s infinite;
          animation: TransitionBg3 3s ease 2s infinite;
}

/* Transiciones y animaciones */
@-webkit-keyframes TransitionOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes TransitionOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes TransitionBg {
  from {
    /* color: white  ;
        opacity: 1; */
    /* left: -20px; */
    width: 0%;
    height: 0%;
  }
  to {
    /* color: black;  
        opacity:0; */
    /* left: 20px; */
    width: 50%;
    height: 100%;
  }
}

@keyframes TransitionBg {
  from {
    /* color: white  ;
        opacity: 1; */
    /* left: -20px; */
    width: 0%;
    height: 0%;
  }
  to {
    /* color: black;  
        opacity:0; */
    /* left: 20px; */
    width: 50%;
    height: 100%;
  }
}

@-webkit-keyframes TransitionBg2 {
  from {
    /* color: white  ;
        opacity: 1; */
    /* left: -20px; */
    width: 8%;
  }
  to {
    /* color: black;  
        opacity:0; */
    /* left: 20px; */
    width: 50%;
  }
}

@keyframes TransitionBg2 {
  from {
    /* color: white  ;
        opacity: 1; */
    /* left: -20px; */
    width: 8%;
  }
  to {
    /* color: black;  
        opacity:0; */
    /* left: 20px; */
    width: 50%;
  }
}

@-webkit-keyframes TransitionBg3 {
  from {
    /* color: white  ;
        opacity: 1; */
    /* left: -20px; */
    width: 50%;
  }
  to {
    /* color: black;  
        opacity:0; */
    /* left: 20px; */
    width: 0%;
  }
}

@keyframes TransitionBg3 {
  from {
    /* color: white  ;
        opacity: 1; */
    /* left: -20px; */
    width: 50%;
  }
  to {
    /* color: black;  
        opacity:0; */
    /* left: 20px; */
    width: 0%;
  }
}

/* Ejercicio de construcción de gridlayout responsive */
/*# sourceMappingURL=test.css.map */